In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
df.head()

   Unnamed: 0     Id     Name  Year Gender State  Count
0       11349  11350     Emma  2004      F    AK     62
1       11350  11351  Madison  2004      F    AK     48
2       11351  11352   Hannah  2004      F    AK     46
3       11352  11353    Grace  2004      F    AK     44
4       11353  11354    Emily  2004      F    AK     41

#### 1. Delete unnamed columns

In [3]:
df.columns

Index(['Unnamed: 0', 'Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

In [4]:
df=df.drop(['Unnamed: 0'],axis=1)

In [6]:
df.columns

Index(['Id', 'Name', 'Year', 'Gender', 'State', 'Count'], dtype='object')

#### 2. Show the distribution of male and female

In [7]:
df.Gender.value_counts()

F    558846
M    457549
Name: Gender, dtype: int64

#### 3. Show the top 5 most preferred names

In [8]:
df.Name.value_counts()[0:5]

Riley     1112
Avery     1080
Jordan    1073
Peyton    1064
Hayden    1049
Name: Name, dtype: int64

#### 5. Distribution of male and female born count by states

In [9]:
df.groupby(['State','Gender'])['Gender'].count()

State  Gender
AK     F          2404
       M          2587
AL     F          9878
       M          8419
AR     F          7171
       M          6475
AZ     F         14518
       M         10820
CA     F         45144
       M         31637
CO     F         11424
       M          9183
CT     F          6575
       M          5733
DC     F          3053
       M          3000
DE     F          2549
       M          2440
FL     F         25781
       M         20070
GA     F         19385
       M         15454
HI     F          3255
       M          3546
IA     F          7131
       M          6307
ID     F          4918
       M          4833
IL     F         21268
       M         16828
                 ...
OK     F          9519
       M          8138
OR     F          8604
       M          7333
PA     F         17480
       M         14171
RI     F          2558
       M          2468
SC     F          9465
       M          8195
SD     F          2838
       M          2908
TN     F         13063
       M         10588
TX     F         39760
       M         27791
UT     F          9515
       M          8233
VA     F         14759
       M         11997
VT     F          1398
       M          1618
WA     F         13329
       M         11049
WI     F         10549
       M          8940
WV     F          4305
       M          3733
WY     F          1456
       M          1904
Name: Gender, Length: 102, dtype: int64